div[itemtype="http://schema.org/ImageGallery"] {
    width: 860px;
    margin: auto;
}

@media print, screen and (max-width: 960px) {
    div[itemtype="http://schema.org/ImageGallery"] {
        width: auto;
        margin: 0;
    }
}

div[itemtype="http://schema.org/ImageGallery"] img {
  width: 100%;
  height: auto;
}


div[itemtype="http://schema.org/ImageGallery"] figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 128px;
}

div[itemtype="http://schema.org/ImageGallery"] figcaption {
  display: none;
}