    .infoGraphicHeader
    {
        display: flex; 
        overflow: auto; 
        justify-content: space-around; 
        align-items: center;
        flex-wrap: wrap;
        margin-top: 10pt;
    }


    
    
    .gallery
    {
        display: flex; 
        overflow: auto; 
        justify-content: space-around; 
        align-items: center;
        flex-wrap: wrap;
        margin: 20px;
    }

  div.gallery div a span {
      text-align: center; 
      display: block;
  }

@media screen and (max-width: 540px) {
  div.gallery div img {
    width: 64px;
  }
  div.infoGraphicHeader img {
    display: none;
  }

  .icon {
      width: 16px;
      height: 16px;
      margin: 2px;
  }
}

@media screen and (min-width: 540px) {
  div.gallery div img {
    width: 128px;
  }
  div.infoGraphicHeader img {
    width: 32px;
    margin-bottom: 10pt;
  }    
  .icon 
  {
    width: 16px;
    height: 16px;
    margin: 4px;
  }
}

div.iconFooter div p a img 
{
    width: 16px;
    height: 16px;
    margin: 2px;
}

div.iconFooter div 
{
    margin: 4px;
    font-size: larger;
    float: left; 

}

.iconFooter
{
    font-size: smaller;
    display: flex; 
    overflow: auto; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
}


