/* 
follows the structure of HTML on first encounter of items for selection
whole file editing using good text redactor and find and replace,
e.g. operation of puting new div via div issues are searched via regex of formatted css
*/

div[itemtype="http://schema.org/Organization"] {
    width: 860px;
    margin: 0 auto;
}

@media print, screen and (max-width: 960px) {
    div[itemtype="http://schema.org/Organization"] {
        width: auto;
        margin: 0;
    }
}

span[itemprop="email"] {
    margin-top: 10pt;
}

.center {
    margin: auto;
    width: 59%;
}

.leftCentered {
    float: left;
    align-content: center;
    width: 50%;
    text-align: center;
}

div[itemprop="funder"] > div {
    display: flex;
    overflow: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

div[itemprop="funder"] > div  > div
{
   position: relative;
}

div[itemprop="funder"] > div  > div > img
{
    max-width: 160px;
    border-radius: 8px;
}

div[itemprop="funder"] > div  > div > img:first-child {
   position: absolute; 
   animation-name: funderPhotosAnimation;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-duration: 16s;
}


@keyframes funderPhotosAnimation {
 0% {
   opacity:1;
 }
 25% {
   opacity:1;
 }
 50% {
   opacity:0;
 }
 75% {
   opacity:0;
 }
 100% {
   opacity:1;
 }
}

@media screen and (max-width: 540px) {
    body div div {
        margin-bottom: 20px;
    }
}

.gallery {
    display: flex;
    overflow: auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;
}

.gallery div a {
    float:left; 
    text-align:center
}

div.gallery div a span {
    text-align: center;
    display: block;
}

@media screen and (max-width: 540px) {
    div.gallery div img {
        width: 50%;
        height: 50%;
    }
    div.infoGraphicHeader img {
        display: none;
    }
    .icon {
        width: 16px;
        height: 16px;
        margin: 2px;
    }
}

@media screen and (min-width: 540px) {
    div.gallery div img {
        width: 128px;
    }
    div.infoGraphicHeader img {
        width: 32px;
        margin-bottom: 10pt;
    }
    .icon {
        width: 16px;
        height: 16px;
        margin: 4px;
    }
}

div.iconFooter div p a img {
    width: 16px;
    height: 16px;
    margin: 2px;
}

div.iconFooter div {
    margin: 4px;
    font-size: larger;
    float: left;
}

.iconFooter {
    font-size: smaller;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}