    .leftCentered {
        float: left; 
        align-content:center; 
        width: 50%; 
        text-align:center;
    }

    .centeredHeader 
    {
        text-align:center;
    }




    .namePhotoContacts
    {
        display: flex; 
        overflow: auto; 
        justify-content: space-around; 
        align-items: center;
        flex-wrap: wrap;
    }