    .leftCentered {
        float: left; 
        align-content:center; 
        width: 50%; 
        text-align:center;
    }

    h3, h2, h1
    {        
        text-align:center;
    }

    .namePhotoContacts
    {
        display: flex; 
        overflow: auto; 
        justify-content: space-around; 
        align-items: center;
        flex-wrap: wrap;
    }

@media screen and (max-width: 540px) {
  body div div 
  {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 540px) {
  body div div 
  {
    margin-bottom: 30px;
  }
}