body {
    background-color:#fff;
    padding: 32pt;
    font: 14px/1.5 "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #424242;
    font-weight: 400;
}


h1,
h2,
h3,
h4,
h5,
h6 {
 
    margin: 0 0 8px;
}

h4,
h3,
h2,
h1 {
    text-align: center;
    padding: 16pt 8pt 0pt 8pt ;
}

h1,
h2,
h3 {
    line-height: 1.1;
}

h1 {
    font-size: 28pt;
}

a {
    color: #343434;
    text-decoration: none;
}

a:hover {
    color: #343434;
}

a small {
    color: #777;
    display: block;
}

a:hover small {
    color: #777;
}

@media print,
screen and (max-width: 720px) {
    body {
        word-wrap: break-word;
    }
}

@media print,
screen and (max-width: 480px) {
    body {
        padding: 4pt;
    }
    header ul {
        width: 99%;
    }
    header li,
    header ul li+li+li {
        width: 33%;
    }
}

@media print {
    body {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}